<nav class="wrapper__header nav__appbar">
    <div class="content__container content__wrapper">
        <div class="section__content section__left">
            <ul class="header__list">
                <li>
                    <a id="logo" href="#" class="tab__link tab__logo">
                        <img alt="Codecademy logo" class="image__header"
                            src="https://www.codecademy.com/webpack/44e01805165bfde4e6e4322c540abf81.svg">
                    </a>
                </li>
            </ul>
            <ul class="header__list desktop__view">
                <li>
                    <a id="catalog" href="#" class="tab__link">Catalog</a>
                </li>
                <li>
                    <a href="#" id="pricing" class="tab__link">Pricing</a>
                </li>
            </ul>
        </div>
        <div class="section__content section__right">
            <ul class="header__list desktop__view">
                <li>
                    <div id="pro-button" class="tab__link">
                        <a data-btn="true" class="basic__button btn__medium btn_purple btn_outline__purple"
                            href="#">Upgrade to Pro</a>
                    </div>
                </li>
                <li>
                    <div id="sign-up" class="tab__link register__btn">
                        <a class="basic__button btn__medium btn_purple" href="#">Sign up</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>